@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--backgroundPrimary);
  color: var(--content1);
}

a {
  font-weight: 500;
  color: #1e3a8a;
  text-decoration: inherit;
}

a:hover {
  color: #3b82f6;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #f3f4f6;
  cursor: pointer;
  transition: border-color 0.25s, background-color 0.25s;
}

button:hover {
  border-color: #3b82f6;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

[data-theme="dark"] {
  --tw-bg-opacity: 1;
  background-color: rgba(28, 28, 30, var(--tw-bg-opacity));
  color: rgba(242, 242, 247, var(--tw-text-opacity));
}

[data-theme="light"] {
  --tw-bg-opacity: 1;
  background-color: rgba(248, 249, 250, var(--tw-bg-opacity));
  color: rgba(0, 0, 0, var(--tw-text-opacity));
}
